*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #F6F9F8;
    color: #2F3E46;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #22707A;
}

a:hover{
    color: #B87A1E;
    transition: 0.2s all ease;
}

/* Navbar */

.navbar{
    background-color: #35525A;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navbar a{
    color: #F6F9F8;
}

.navbar a:hover{
    color: #F4D58D;
    transition: 0.2s all ease;
}

#home{
    background-color: #E1EDEF;
    padding: 72px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nama{
    font-size: 36px;
    color: #35525A;
}

.nim{
    font-size: 22px;
    font-weight: 400;
    padding-top: 12px;
}

.jurusan{
    font-size: 20px;
    font-weight: 400;
    padding-top: 4px;
}

.kampus{
    font-size: 18px;
    padding-top: 4px;
}

.judul{
    font-size: 28px;
    color: #35525A;
    padding-bottom: 20px;
}

.judul:hover{
    color: #B87A1E;
    transition: 0.2s all ease;
}

.about{
    text-align: center;
    background-color: #F6F9F8;
    padding: 56px 25%;
}

.about p{
    padding-bottom: 12px;
}

.kemampuan{
    text-align: center;
    background-color: #E5EEE7;
    padding: 56px 16px;
}

.projek{
    text-align: center;
    background-color: #F6F9F8;
    padding: 56px 16px;
}

.contact{
    text-align: center;
    background-color: #E1EDEF;
    padding: 56px 16px;
}

.pengantar{
    padding-bottom: 24px;
}

.baris{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 24px;
}


.kartu{
    padding: 20px;
}

.kartu h2{
    font-size: 20px;
    color: #35525A;
    padding-bottom: 8px;
}

.kartu p{
    padding-bottom: 8px;
}

.kartu a{
    font-weight: 700;
}

.teknologi{
    font-size: 14px;
    color: #35525A;
}

.kemampuan .kartu{
    background-color: #F6F9F8;
    width: 35%;
}

.projek .kartu{
    background-color: #E1EDEF;
    width: 26%;
}

.contact .kartu{
    background-color: #F6F9F8;
    width: 35%;
}

.footer{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35525A;
    color: #F6F9F8;
    padding: 16px;
}


@media (max-width: 900px) {
    .navbar{
        gap: 12px;
    }
    .nama{
        font-size: 28px;
    }
    .about{
        padding: 40px 24px;
    }
    .kemampuan{
        padding: 40px 16px;
    }
    .projek{
        padding: 40px 16px;
    }
    .contact{
        padding: 40px 16px;
    }
    .baris{
        flex-direction: column;
        align-items: center;
    }
    .kemampuan .kartu{
        width: 80%;
    }
    .projek .kartu{
        width: 80%;
    }
    .contact .kartu{
        width: 85%;
    }
    .contact .kartu p{
        font-size: 14px;
    }
}
